#conf {
  display: flex;
  align-items: center;
  justify-content: center;
}

#conf img {
  max-height: 600px;
  max-width: 600px;
  padding: 5px;
}

.confGallery {
  max-width: 1044px;
  margin: 0 auto;
}
