#food {
  display: flex;
  align-items: center;
  justify-content: center;
}

#food img {
  max-height: 600px;
  max-width: 600px;
}

.foodGallery {
  max-width: 1044px;
  margin: 0 auto;
}

.foodRotate {
  transform: rotate(90deg);
}

@media only screen and (max-width: 660px) {
  #food img {
    max-height: 300px;
    max-width: 300px;
  }
}
