#food {
  display: flex;
  align-items: center;
  justify-content: center;
}

#food img {
  max-height: 600px;
  max-width: 600px;
}

.foodGallery {
  max-width: 1044px;
  margin: 0 auto;
}

.foodRotate {
  transform: rotate(90deg);
}
