* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  color: #000000;
  background-color: white;
  margin: 0 auto;
}

.navSpace {
  padding: 50px;
}

.snowImage {
  min-width: 160px;
  min-height: 160px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.hobbies,
.statistics {
  margin: 50px;
  padding: 50px;
}

.flex-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.statistics div {
  margin: 10px auto;
}

.counter {
  font-size: 50px;
  font-weight: bold;
  position: relative;
  top: 50%;
  left: 40%;
}

.hobbies h5,
.statistics h5,
.confGallery h5,
.mentoring h5,
.foodGallery h5 {
  font-size: 16px;
  margin: 10px auto;
  color: #6b0000;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

.hobbies h3,
.statistics h3,
.confGallery h3,
.mentoring h3,
.foodGallery h3 {
  font-size: 32px;
  text-align: center;
  margin: 20px auto;
}

.mentoring {
  background-color: #ebebeb;
  padding: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.mentoring p {
  font-size: 18px;
  padding: 20px;
  margin: auto auto;
  max-width: 1088px;
  text-align: center;
}

.buttonTouchAbout {
  background-color: #6b0000;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  height: 60px;
  width: 150px;
  border-radius: 20px;
}

.buttonTouchAbout h5 {
  text-transform: uppercase;
  color: #ebebeb;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.buttonTouchAbout:hover h5 {
  font-weight: bold;
  color: black;
}

#veganOutreach {
  text-decoration: underline;
}

#hobbies div {
  border-style: solid;
  border-color: black;
  border-width: 3px;
  width: 198px;
  height: 298px;
  margin: 10px;
  background-color: white;
  align-items: center;
}

#hobbies h5 {
  position: relative;
  font-size: 18px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  text-align: center;
  margin: auto auto;
  text-transform: uppercase;
}

#hobbies #cooking:hover {
  background-image: url("./extras/image/general/cooking.png");
  background-repeat: no-repeat;
}

#hobbies #cooking:hover h5 {
  opacity: 0;
}

#hobbies #reading:hover {
  background-image: url("./extras/image/general/reading.png");
  background-repeat: no-repeat;
}

#hobbies #reading:hover h5 {
  opacity: 0;
}

#hobbies #travelling:hover {
  background-image: url("./extras/image/general/travelling.png");
  background-repeat: no-repeat;
}

#hobbies #travelling:hover h5 {
  opacity: 0;
}

#hobbies #sports:hover {
  background-image: url("./extras/image/general/sports.png");
  background-repeat: no-repeat;
}

#hobbies #sports:hover h5 {
  opacity: 0;
}
