.navColor {
  width: 100% !important;
  /*background-color: #6b0000;*/
  box-shadow: 0 1em 0.5em -0.8em #6b0000;
  background-color: white;
  padding: 20px;
  position: fixed;
  z-index: 100;
}

li {
  font-size: 24px;
  padding-right: 10px;
  padding-left: 10px;
  opacity: 1;
}
