#styleNav {
  width: 100%;
  /*background-color: #6b0000;*/
  box-shadow: 0 1em 0.5em -0.8em #6b0000;
  background-color: white;
  position: fixed;
  z-index: 100;
  left: 0%;
}

#links {
  color: black !important;
  font-size: 24px;
  padding-right: 10px;
  padding-left: 10px;
  opacity: 1;
  transition: 1s;
}

#links:hover {
  font-weight: bold;
}

#signature {
  max-height: 60px;
}

.NavLink {
  padding: 0;
}
